<!--todas las apariciones de @article han sido reemplazadas por artículo. Dado que los parciales son código compartido,
se recomienda que no dependan de variables de instancia específicas establecidas por una acción del controlador. En su lugar,
pasaremos el artículo al parcial como una variable local.-->

<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :Estador %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: article.status || 'public' %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
